<div class="container">
    <span class='header'>
      <p class="bold">
          customer filter
      </p>
      <p class="bold op-5">
          discard filters
      </p>
    </span>
    <div class="container_inner" #forms>
        <app-step *ngFor="let step of steps; let i = index" [stepNumber]="i"></app-step>
    </div>
    <div class="buttons">
        <button type="button" (click)="apply(forms)">Apply filters</button>
        <button type="button" class="middle" (click)="addStep()">Add step</button>
    </div>
</div>